.App {
  text-align: center;
}

.square {
  display: inline-block;
  margin: 10px;
  width: 300px;
  height: 300px;
}

.square.red {
  background-color: red;
}

.square.blue {
  background-color: blue;
}

.square p {
  margin: 0;
  padding: 0;
  font-size: 20px;
  color: #fff;
  text-align: center;
  color: black;
}
